@use '../abstracts/fonts';

// === Variables =====
$perspective: 60rem;
$font-size: 4.25rem;
$split-position: 49%;
$split-thickness: 2px;
$split-color: var(--secondary);

header {
  top: 0;
  position: sticky;
  background-color: transparent;
  z-index: 5;
  height: 5rem;
  width: 100%;
  nav {
    position: relative;
    display: flex;
    height: 5rem;
    width: auto;
    margin-inline: 2rem;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      font-size: 1rem;
      letter-spacing: 1px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      position: relative;
      cursor: pointer;
    }
    .logo {
      height: 100%;
      display: flex;
      font-family: "Orbitron", sans-serif;
      font-size: 1.25rem;
      line-height: 5rem;
      font-weight: 700;
      .rtl {
        color: var(--secondary);
        transform: rotateY(180deg);
        pointer-events: none;
      }
      .ltr {
        color: var(--accent);
        pointer-events: none;
      }
    }
    .line {
      height: 0.188rem;
      position: absolute;
      bottom: 1.25em;
      margin: 10px 0 0 0;
      background: var(--accent);
      border-radius: 0.188rem;
    }
    .links {
      display: flex;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        li {
          margin: 0 40px 0 0;
          opacity: 0.4;
          transition: all 0.4s ease;
          &:hover {
            opacity: 0.7;
          }
          &.active {
            opacity: 1;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            color: transparent;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: $split-position;
              left: -10%;
              right: -10%;
              height: $split-thickness;
              border-radius: $split-thickness;
              margin-top: -calc($split-thickness / 2);
              background: var(--accent);
              transform: scale(0);
              transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
              z-index: 1;
            }
            .Mask {
              display: block;
              position: absolute;
              overflow: hidden;
              color: $split-color;
              top: 0;
              height: $split-position;
              transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);

              span {
                display: block;
              }
            }

            // === Bottom mask specific =====
            :nth-child(2) {
              top: $split-position - 0.1;
              height: 100 - $split-position + 0.1;
              span {
                transform: translateY(-$split-position);
              }
            }

            &:hover,
            &:active {
              .Mask {
                color: #fff;
                transform: skewX(12deg) translateX(2px);
              }
              .Mask + .Mask {
                transform: skewX(12deg) translateX(-2px);
              }
              &::before {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes contactHoverBefore {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes contactHoverAfter {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.contact {
  font-size: 1rem;
  padding: 1rem 2rem;
  color: var(--secondary);
  background-color: var(--accent);
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 0.25rem;
  &::before {
    opacity: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, var(--accent-shade-500) 50%, transparent 50%);
    z-index: -1;
    border-radius: 0.25rem;
  }
  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, transparent 50%, var(--accent-shade-500) 50%);
    z-index: -1;
    border-radius: 0.25rem;
  }
  &:hover {
    color: var(--secondary-shade-100);
    &::after {
      animation: contactHoverAfter 0.35s forwards;
    }
    &::before {
      animation: contactHoverBefore 0.35s forwards;
    }
  }
}
