section {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 4;

  .wrapper {
    position: relative;
    z-index: 4;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
#home {
  width: 100%;
  padding-inline: clamp(1rem, 5vw, 5rem);
  padding-block: clamp(2rem, 8vh, 5rem);
  position: relative;
  z-index: 1;
  .column {
    width: 50%;
    height: 100%;
    &.first {
      margin: auto 0;
      height: 100%;
      width: 100%;
      h2 {
        font-size: clamp(0.75rem, 1rem, 1.25rem);
        color: var(--accent-tint-300);
        margin-bottom: 1rem;
      }
      h1 {
        background: url("/assets/img/h1_background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: var(--secondary);
        font-size: clamp(2rem, 5vw, 4rem);
        margin-bottom: 1rem;
      }
      p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-bottom: 0.5rem;
        color: var(--secondary-shade-100);
      }
      :nth-child(4) {
        font-size: clamp(0.5rem, 1.5vw, 1rem);
      }
      .bx.bxs-hand-down {
        background: linear-gradient(135deg, var(--accent-shade-700), var(--accent), var(--accent-shade-700));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 7rem;
        cursor: pointer;
        animation: 2s fadeDown infinite;
      }
    }
    &.second {
      position: relative;
      height: 100%;
      width: 100%;
      #blob {
        position: absolute;
        z-index: 0;
        transform: scale(1.5) rotateY(180deg);
        fill: var(--accent-shade-500);
        opacity: 0.5;
      }
      .animated-svg {
        position: relative;
        height: 100%;
        width: 100%;
        svg {
          width: 80%;
          height: 100%;
          margin-inline: 10%;
        }
      }
    }
  }
}
#about {
  height: 100vh;
  background-color: var(--primary);
}

@media screen and (max-width: 950px) {
  #home {
    .column {
      &.second {
        #blob {
          transform: scale(1.25) translateX(10%) rotateY(-180deg);
        }
      }
    }
    .wrapper {
      flex-direction: column;
    }
  }
}

@keyframes fadeDown {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(25%);
  }
}
