section {
  height: auto;
  width: 100%;
  background-color: var(--primary-tint-800);
  outline: 1px solid black;

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
#home {
  width: 100%;
  padding-inline: clamp(1rem, 5vw, 5rem);
  padding-block: clamp(2rem, 8vh, 5rem);
  position: relative;
  z-index: 1;
  .column {
    width: 50%;
    height: 100%;
    &.first {
      margin: auto 0;
      height: auto;
      width: 100%;
      color: var(--accent-tint-300);
      h2 {
        font-size: clamp(0.75rem, 1rem, 1.25rem);
        color: var(--accent);
        margin-bottom: 1rem;
      }
      :nth-child(2) {
        color: var(--secondary);
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 1rem;
      }
      :nth-child(3) {
        font-size: clamp(1.5rem, 3vw, 2rem);
        margin-bottom: 0.5rem;
      }
    }
    &.second {
      height: 100%;
      width: 100%;
      .animated-svg {
        height: 100%;
        width: 100%;
        svg {
          width: 80%;
          height: 100%;
          margin-inline: 10%;
        }
      }
    }
  }
}
#about {
  height: 100vh;
}

@media screen and (max-width: 950px) {
  main {
    section {
      &#home {
        .wrapper {
          flex-direction: column;
        }
      }
    }
  }
}
