#freepik--speech-bubble--inject-38,
#freepik--World--inject-38,
#freepik--text-box--inject-38 {
  animation: 5s infinite ease floating;
}

#freepik--Arrow--inject-38 {
  animation: 10 s mouseMove infinite ease;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(0em);
  }
}

@keyframes mouseMove {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-4.5rem, 2.5rem);
  }
  35% {
    transform: translate(-4.5rem, 2.5rem);
  }
  50% {
    transform: translate(-9rem, 5rem);
  }
  60% {
    transform: translate(-9rem, 5rem);
  }
  75% {
    transform: translate(-4.5rem, 2.5rem);
  }
  85% {
    transform: translate(-4.5rem, 2.5rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
