#freepik--speech-bubble--inject-38,
#freepik--World--inject-38,
#freepik--text-box--inject-38 {
  animation: 5s infinite ease floating;
}

#freepik--Arrow--inject-38 {
  animation: 10s mouseMove infinite ease;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(0em);
  }
}

@keyframes mouseMove {
  0%, 100% {
    
  }
  50% {}
}